.show {
  display: block;
}

.hide {
  display: none;
}

.dialog form label {
  display: inline-block;
  width: 6em;
  padding: 1em;
  margin-bottom: 3em;
}

.dialog form input {
  width: 30em;
  padding: 1.5em;
}

.dialog .btn-close {
  position: absolute;
  right: 1em;
  top: 1em;
  color: red;
  cursor: pointer;
  border: 1px solid #fff;
}