.new-container form label {
  display: inline-block;
  width: 6em;
  padding: 1em;
  margin-bottom: 3em;
}

.new-container form input {
  width: 30em;
  padding: 1.5em;
}

.new-container .action-indicator {
  display: inline-block;
  margin-left: 1em;
  font-size: .8em;
  color: #CCC;
}

.new-container .show {
  visibility: visible;
}

.new-container .hide {
  visibility: hidden;
}

.hidden {
  display: none;
}