a, .link {
  cursor: pointer;
  color: #37c5fc;
  text-decoration: none;
}

.link {
  background: transparent;
  border: 0px solid #fff;
}

.links {
  margin-right: .5em;
  font-size: .9em;
}

.container {
  display: flex;
  width: 80%;
  margin: 2em auto;
}

input, select, textarea {
  font-family: 'Open Sans', 'Cabin', 'Montserrat', 'Source Sans Pro', sans-serif;
  font-size: .9em;
  border-radius: .2em;
  border: 1px solid #ccc;
}

select {
  -webkit-appearance: none;
  width: 33em;
  padding: 1.4em;
  background: #FFFFFF;
}

.success {
  color: green;
  adding: 2em;
  padding-left: 8em;
}

.error {
  color: red;
  padding-bottom: 2em;
  padding-left: 8em;
}