.auth-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 3px;
}

.page-title {
  text-align: center;
  font-size: 1.5em;
}

form {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.fields {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  border-radius: .2em;
  border: 1px solid #cbcccd;
  /*background-color: #d9dbdc;*/
}

.labels {
  display: block;
  margin-bottom: .3em;
}

.btn {
  position: absolute;
  right: 0;
  padding: .8em 1.4em;
  border-radius: .3em;
  border: 1px solid #cbcccd;
}

.common {
  display: block;
  position: absolute;
  font-size: .8em;
  left: 0;
}

.forgot {
  bottom: 50px;
}

.login {
  bottom: -30px;
}