.main-container {
  display: flex;
  justify-content: flex-start;
}

.navigation {
  width: 25em;
  top: 0;
  padding: 0;
  margin: 0;
  margin-top: 100px;
}

.navigation li {
  padding: .3em 6em;
  list-style-type: none;
}

.navigation li.last {
  margin-top: 1em;
}

.navigation li a {
  text-decoration: none;
}

.navigation li a.active:after {
  content: '*';
}