.navigation-container {
  display: inline-block;
}

.navigation {
  position: fixed;
  top: 10%;
  padding: 0;
  margin: 0;
}

.navigation li {
  padding: .3em 6em;
  list-style-type: none;
}

.navigation li a {
}