.navigation {
  position: relative;
  width: 100%;
  height: 70px;
  top: 0;
  padding: 0;
  margin: 0;
  padding-left: 10em;
  list-style-type: none;
  box-shadow: 0 0 .6em #000;
}

.navigation li {
  display: inline-block;
}

.navigation li.last {
  margin-top: 1em;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 1.5em;
  color: #2a2929;
  border: 0px solid #fff;
}

.navigation li a.active {
  background-color: #e4e1e1;
}

/*.navigation li a.active:after {
  content: '*';
}*/

.main-container .logout {
  position: absolute;
  right: 13em;
  top: 1.8em;
}

.main-container .welcome {
  display: block;
  position: absolute;
  right: 2em;
  top: 1.8em;
}