.main-container > div {
  /*width: 99%;*/
}

table,
table thead,
table thead tr,
table tbody,
table tbody tr {
  display: block;
}

table thead,
table thead tr,
table tbody,
table tbody tr {
  padding: .5em;
}

table thead,
table tbody {
  border-radius: .19em;
}

table {
  width: 99%;
}

table thead {
  background-color: #9ea1a1;
  margin-bottom: .3em;
}

table thead tr {
  width: 100%;
}

table thead tr th {
  width: 15em;
  text-align: left;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #d7d9d9;
}

table tbody tr td {
  width: 15em;
  text-align: left;
}

table tbody tr.last {
  border-bottom: 0px solid #000;
}

.actions {
  text-align: right;
}