.main-container > div {
  width: 99%;
}

table,
table thead,
table thead tr,
table tbody,
table tbody tr {
  display: block;
}

table thead,
table thead tr,
table tbody,
table tbody tr {
  padding: .5em;
}

table thead,
table tbody {
  border-radius: .19em;
  border: .1em solid #9b9c9d;
}

table {
  width: 99%;
}

table thead {
  margin-bottom: .3em;
}

table thead tr {
  width: 100%;
}

table thead tr th {
  width: 15em;
  text-align: left;
  font-weight: normal;
}

table tbody tr {
  width: 98%;
  border-bottom: .1em solid #9b9c9d;
}

table tbody tr td {
  width: 15em;
  text-align: left;
}

.actions {
  text-align: right;
}